footer {
    background-color: $darkGray;
    padding: 22px 25px;
    h2 {
        font-family: 'Shrikhand', sans-serif;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .footer__nav {
        display: flex;
        flex-direction: column;
        gap: 7px;
        list-style: none;
        a {
            font-weight: 500;
            color: #FFFFFF;
            font-size: 16px;
            i {
                width: 11px;
                height: 13px;
                padding-right: 15px;
            }
        }
        li:nth-child(3) {
            a {
                font-weight: 400;
            }
        }
        li:nth-child(4) {
            a {
                font-weight: 400;
            }
        }
    }
}