footer {
    background-color: $darkGray;
    padding: 22px 25px;
    h2 {
        font-family: 'Shrikhand', sans-serif;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
        width: 139px;
    }
    .footer__nav {
        display: flex;
        flex-direction: column;
        gap: 7px;
        list-style: none;
        a {
            display: flex;
            gap: 11px;
            font-weight: 500;
            color: #FFFFFF;
            font-size: 16px;
            i {
                width: 11px;
                height: 13px;
            }
        }
        li:nth-child(3) {
            a {
                font-weight: 400;
            }
        }
        li:nth-child(4) {
            a {
                font-weight: 400;
            }
        }
    }
}

@media (min-width: 1024px) {
    footer {
        display: flex;
        flex-direction: row-reverse;
        padding: 30px 25px;
        gap: 16px;
        h2 {
            display: flex;
            align-items: flex-end;
            margin-top: 30px;
            margin-bottom: 0;
        }
        .footer__nav {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 7px;
            li:nth-child(1), li:nth-child(2) {
                a {
                    width: 190px
                }
            }
            li:nth-child(3), li:nth-child(4) {
                a {
                    width: 130px
                }
            }
        }
    }
}