.hero {
    @include flexCenter();
    background-color: $lightGray;
    flex-direction: column;
    padding: 35px 25px 65px 25px;
    gap: 25px;
    .hero__title {
        font-weight: 700;
        text-align: center;
        padding: 0 25px;
    }
    .hero__text {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }
    .hero__CTA {
        @include CTA();
        @include flexCenter();
        &:hover {
            @include CTAhover();
        }
    }
}

.howto {
    @include sectionStyle;
    .steps {
        @include flexCenter();
        flex-direction: column;
        gap: 25px;
        padding-left: 40px;
        padding-right: 20px;
        .step {
            position: relative;
            display: inline-flex;
            align-items: center;
            background-color: $lightGray;
            border-radius: 20px;
            padding: 25px;
            width: 100%;
            gap: 25px;
            font-weight: 500;
            box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
            .fa-solid {
                color: #7E7E7E;
                font-size: 18px;
                padding-left: 10px;
            }
            .fa-store {
                color: $primaryColor;
            }
            .step__number {
                @include flexCenter();
                position: absolute;
                left: -12px;
                background-color: $primaryColor;
                color: #FFFFFF;
                border-radius: 50%;
                height: 24px;
                width: 24px;
            }
        }
    }
}

.restaurants {
    @include sectionStyle;
    background-color: $lightGray;
    .menus {
        @include flexCenter();
        flex-direction: column;
        gap: 18px;
        .card {
            position: relative;
            width: 100%;
            height: 246px;
            border-radius: 15px;
            background-color: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(0,0,0,0.10);
            transition: 300ms ease-out;
            &:hover {
                transform: scale(1.025);
                box-shadow: 0px 4px 15px rgba(0,0,0,0.25);
            }
            a {
                display: block;
                height: 246px;
            }
            .badge {
                position: absolute;
                right: 0;
                background-color: #99E2D0;
                margin: 15px;
                border-radius: 2px;
                padding: 6px 9px;
                box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
                p {
                    color: #008766;
                    font-weight: 500;
                }
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 174px;
                border-radius: 15px 15px 0px 0px;
            }
            .card__content {
                display: flex;
                justify-content: space-between;
                padding: 10px 15px;
                .card__text {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
            }
            .card__heart {
                position: absolute;
                right: 20px;
                bottom: 35px;
                @include flexCenter();
                @include heart();
                &:focus, &:hover {
                    @include heartHover();
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .hero {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .hero__title {
        font-size: 40px;
    }

    .howto {
        padding: 50px 180px;
        .steps {
            display: flex;
            flex-direction: row;
            padding: 0;
        }
    }

    .restaurants {
        padding: 30px 180px;
        gap: 28px;
        .menus {
            padding: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px 100px;
        }
    }

}