main {
    .banner {
        position: relative;
        img {
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 275px;
            object-position: center;
        }
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        position: relative;
        margin-top: -50px;
        background-color: $lightGray;
        border-radius: 30px 30px 0px 0px;
        padding-bottom: 40px;
        &:nth-child(2) {
            animation-delay: 200ms;
        }
        &:nth-child(3) {
            animation-delay: 500ms;
        }
        .menu__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: 'Shrikhand', sans-serif;
            font-weight: 500;
            font-size: 28px;
            padding: 30px 20px 0px 20px;
            .card__heart {
                @include flexCenter();
                @include heart();
                &:focus, &:hover {
                    @include heartHover();
                }
            }
        }
        .menu {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 0 13px;
            opacity: 0;
            &__starter {
                animation: slideLeft 1s ease 500ms forwards;
            }
            &__main-course {
                animation: slideRight 1s ease 1s forwards;
            }
            &__dessert {
                animation: slideLeft 1s ease 1.5s forwards;
            }
            h3 {
                text-transform: uppercase;
                font-weight: 300;
                &::after {
                    content: '';
                    display: block;
                    border-bottom: 3px solid $lightGreen;
                    width: 40px;
                    height: 6px;
                    }
            }
            .menu__container {
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                background-color: #FFFFFF;
                border-radius: 15px;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                .menu__description {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 15px 0 15px 15px;
                    h4 {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: 300;
                    }
                }
                .menu__slide {
                    display: flex;
                    margin-right: -60px;
                    transition: margin-right 300ms ease-in-out;
                    .menu__price {
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        padding: 15px 15px 15px 0;
                        font-size: 15px;
                        font-weight: 700;
                        color: $darkGray;
                    }
                    .menu__check {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        background-color: $lightGreen;
                        i {
                            color: #FFFFFF;
                            font-size: 20px;
                        }
                    }
                }
                &:hover {
                    .menu__slide {
                        margin-right: 0px;
                    }
                }
            }
        }
        .hero__CTA {
            margin: 0 auto;
            @include CTA();
            @include flexCenter();
            &:hover {
                @include CTAhover();
            }
        }
    }
}

@media (min-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
        .banner {
            img {
                height: 500px;
            }
        }
        .menu__list {
            margin: -50px auto auto auto;
            padding: 0px 5vw 50px 5vw;
            .menu__title {
                padding-top: 50px;
                justify-content: center;
                .card__heart {
                    margin-left: 24px;
                    i {
                        margin: 0;
                    }
                }
            }
            .menu {
                min-width: 768px;
            }
        }
    }
}